/* src/styles/App.css */
.header-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #000000;
    color: white;
    transition: padding 0.3s, background-color 0.3s, height 0.3s;
    position: relative;
    z-index: 10;
  }
  
  .header-logo.scrolled {
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
  }
  
  .header-logo.scrolled .subtitle {
    color: #000;
  }
  
  .header-logo.scrolled .logo {
    height: 30px;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    transition: all 0.3s;
  }
  
  .logo {
    height: 50px;
    transition: height 0.3s;
  }
  
  .subtitle {
    font-size: 1.2em;
    margin-left: 10px;
    transition: color 0.3s;
  }
  
  .navigation {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 5;
    transition: background-color 0.3s, color 0.3s, padding 0.3s;
  }
  
  .navigation a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .navigation a:hover {
    color: #ffcc00; /* Default hover color */
    background-color: transparent; /* Ensure background color stays transparent */
  }
  
  .navigation.scrolled {
    background-color: #fff;
    color: #000;
    padding: 5px 0;
  }
  
  .navigation.scrolled a {
    color: #000;
  }
  
  .navigation.scrolled a:hover {
    color: #ff6600; /* Hover color when scrolled */
    background-color: transparent; /* Ensure background color stays transparent */
  }
  
  .warenkorb-button-link {
    text-decoration: none;
    padding-right: 2%;
    position: relative;
    left: 20%;
    top: -10px;
  }
  
  .warenkorb-button-link .custom-button {
    color: white;
    cursor: pointer;
    font-size: 1.1em;
  }
  
  .warenkorb-button-link .custom-button:hover {
    background-color: #ffffff;
  }
  
  .cart-icon-container {
    position: relative;
    display: inline-block;
  }
  
  .cart-badge {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: red;
    color: white;
    border-radius: 80%;
    padding: -2px 6px ;
    font-size: 12px;
    font-weight: bold;
  }
  
  .custom-cart-icon {
    color: white;
    font-size: 24px;
    margin-right: 10px;
  }
  
  .custom-button {
    background-color: #000000; /* Initial background color */
    color: whitesmoke; /* Initial text color */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1em; /* Adjust font size as needed */
    font-weight: bold;
    overflow: hidden;
    position: relative;
    display: inline-flex;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .custom-button-content {
    display: flex;
    align-items: center;
    transition: transform 0.3s;
  }
  
  .custom-button:hover {
    background-color: white; 
    color: black; 
  }
  
  .custom-button:hover .custom-cart-icon {
    color: black; 
  }
  
  .custom-button:hover .custom-button-content {
    transform: translateX(10px); /* Move content to the right on hover */
  }
  